# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
env/
.venv/

# -----------------------------
# Environment variables
# -----------------------------
.env

# -----------------------------
# Database files (IMPORTANT)
# -----------------------------
DBs/
*.db
*.sqlite3

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Misc
# -----------------------------
*.tmp
*.swp

.env