<h1>Добро пожаловать в нашу Политику допустимого использования</h1>

<h3>1.0: Все пользователи обязаны соблюдать законодательство Российской Федерации при использовании нашего сайта.</h3>
<h4><a href='https://www.zakonrf.info/content/view/kodeksy/'>     Законодательство Российской Федерации доступно здесь</a></h4>

<h3>2.0: Использование туннелирующих сервисов запрещено и ограничит ваш доступ к нашим услугам</h3>
<h4>    Это включает использование:</h4>
<ul>
    <p>VPN-сервисов</p>
    <p>Прокси-серверов</p>
    <p>TOR и любых связанных с ним сервисов</p>
</ul>