<h1>Welcome to our Acceptable Usage Policy</h1>

<h3>1.0: All users must comply with the Law of the Russian Federation at all times on our website.</h3>
<h4><a href = 'https://www.zakonrf.info/content/view/kodeksy/'>     The Law of the Russian Federation can be found here</a></h4>

<h3>2.0: Usage of tunnelling services is forbidden and will restrict your access to our services</h3>
<h4>    This includes usage of:</h4>
<ul>
    <p>VPNs</p>
    <p>Proxy servers</p>
    <p>TOR or any onion-related services</p>
</ul>