<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cosmos1518</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">
</head>
<body>
    <div id="login_form">
        <form id="login", method="post">
            <label for="email">Email</label>
            <input type="email" id="email_field" name="email" placeholder="Enter your email" required >
            <br>
            <label for="password">Password</label>
            <input type="password" id="password_field" name="password" placeholder="Enter your password" required>
            <br>
            <button type="submit">Log in</button>
            {% if error %}
            {{ error }}
            {% endif %}
        </form>
    </div>
    <div id="about_sidebar_bg">
<div id="homepage_title"><header><h1>Welcome to Cosmos1518!</h1></header></div>
        <h2 id="aboutus">
            We are Cosmos1518, a live satellite tracker.
        </h2>
    </div>
</body>
</html>